[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tensorflow = "==2.15"
numpy = "*"
opencv-python = "*"
mediapipe = "*"                     
pyautogui = "*"
python-osc = "*"

[dev-packages]

[requires]
python_version = "3.10"
